<div class="jumbotron">
  <div class="container">
      <%=@username%>
      following<%=current_user.following.count%>
      follower<%=current_user.followers.count%>
      <%= render '/components/follow'%>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
      <div class="panel panel-default">
          <div class="panel-body">
            Profile
          </div>
        </div>
  
  </div>
  <div class="col-xs-6">
    <%= render '/components/post_form'%>
    <% @posts.each do |p|%>
      <div class="panel panel-default">
          <div class="panel-body">
            <%= p.content%>
          </div>
        </div>
      <% end %>
    </div>
  <div class="col-xs-3">
      <div class="panel panel-default">
        who to follow
        <% @tofollow.each do |t|%>
         
          <div class="panel-body">
           
            
              <%= t.username%>
            
          </div>
          <% end %>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            trends
          </div>
        </div>
  </div>
</div>

